@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #87cefa, #f5f5f5);
    min-height: 100vh;
}

.sidebar {
    position: absolute;
    font-family: 'Fira Sans', sans-serif;
    background-color: rgb(211, 210, 210);
    height: 100vh;
    transition: transform 0.3s ease-in;
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.15);
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
    transition: transform 0.3s ease-in;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: color 0.2s ease-in;
}

.sidebar nav li a:hover {
    color: #87cefa;
    transform: scale(1.05);
}

.sidebar nav li:hover {
    transform: translateX(10px);
}

.main {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.content {
    margin: 50px 0; /* add a top and bottom margin of 50px */
    padding: 0 50px; /* add a left and right padding of 50px */
}


.content h1 {
    font-size: 36px;
    color: #1d3557;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 1px 1px #ddd;
}

.content p {
    font-size: 18px;
    color: #333;
    margin-bottom: 30px;
    line-height: 1.5;
}

.content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.content ul li strong {
    font-size: 20px;
    color: #1d3557;
    display: block;
    margin-bottom: 10px;
    font-family: 'Source Code Pro', monospace;
}

.sidebarGo {
    transform: translate(-443px, 0px);
    position: absolute;
}

.hamburger {
    position:
